body {
  background-color: #000A0A;
  color: #FFF5F5;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0px;
}

html {
  height: 100%;
}

.main {
  display: flex;
  height: 100%;
}

.centre {
  margin: auto;
  text-align: center;
  z-index:1;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 5em;
  line-height: 0.5em;
}

.skew {
  transform: skew(-10deg);
}

.unskew {
  transform: skew(10deg);
}

.ghost-button {
  font-size: 2.0em;
  display: inline-block;
  width: 150px;
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-right: 0.25em;
  margin-left: 0.25em;
  color: #FFF5F5;
  border: 2px solid #FFF5F5;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.ghost-button:hover,
.ghost-button:active {
  background-color: #FFF5F5;
  color: #000A0A;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

li {
  list-style-type: none;
  display: inline;
}

/*body{
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  font-size:18px;
  color:#444;
  padding:0 10px
}

h1,h2,h3{
  line-height:1.2
}*/