body {
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  margin:40px auto;
  font-size: 1em;
}

canvas {
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
}

.main {
  background-color: #28283C;
  max-width: 1000px;
  padding: 50px 70px;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 3em;
  text-align: center;
  font-weight: normal;
  margin-bottom: 18px;
  margin-top: 18px;
}

h2 {
  line-height: 1.3em;
}

h3 {
  line-height: 0.6em;
}

.adjust {
  float: right;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

.subtitle {
  text-align: center; 
}

.item {
  padding-bottom: 10px;
  padding-left: 40px;
}

.section {
  padding: 10px 0px;
}

ul{
  list-style-type: none;
}

.ghost-button {
  font-size: 1.5em;
  display: inline-block;
  width: 150px;
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-right: 0.25em;
  margin-left: 0.25em;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.ghost-button:hover,
.ghost-button:active {
  background-color: #FFFFFF;
  color: #000000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

.skew {
  transform: skew(-10deg);
}

.unskew {
  transform: skew(10deg);
}

a {
  color: inherit;
}