body {
  background-color: #252539;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0px;
}

html {
  height: 100%;
}

.main {
  display: flex;
  height: 100%;
}

.centre {
  margin: auto;
  text-align: center;
  z-index:1;
}

.centre:hover {
  cursor: default;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 4em;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 20px;
}

.skew {
  transform: skew(-10deg);
}

.unskew {
  transform: skew(10deg);
}

.ghost-button {
  font-size: 1.5em;
  display: inline-block;
  width: 150px;
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-right: 0.25em;
  margin-left: 0.25em;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.ghost-button:hover,
.ghost-button:active {
  background-color: #FFFFFF;
  color: #000000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

li {
  list-style-type: none;
  display: inline;
}

ul {
  padding-left: 0px;
}