body {
  background-color: #000A0A;
  color: #CFC5C5;
  font-family: 'Open Sans', sans-serif;
  margin:40px auto;
  max-width:860px;
  padding:10px 10px;
  font-size: 1em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 3em;
  text-align: center;
  line-height: 0.7em;
}

h2 {
  line-height: 1.3em;
}

h3 {
  line-height: 0.6em;
}

.adjust {
  float: right;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

.subtitle {
  text-align: center; 
}

.item {
  padding-bottom: 10px;
  padding-left: 40px;
}

.section {
  padding: 10px 0px;
}