body {
  background-color: #252935;
  color: #CFC5C5;
  font-family: 'Open Sans', sans-serif;
  margin:40px auto;
  max-width:1000px;
  padding:10px 10px;
  font-size: 1em;
}

canvas {
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
}

.main {
  background-color: #252935;
  padding: 50px 70px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 3em;
  text-align: center;
  font-weight: normal;
  margin-bottom: 18px;
  margin-top: 18px;
}

h2 {
  line-height: 1.3em;
}

h3 {
  line-height: 0.6em;
}

.adjust {
  float: right;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

.subtitle {
  text-align: center; 
}

.item {
  padding-bottom: 10px;
  padding-left: 40px;
}

.section {
  padding: 10px 0px;
}

@media screen and (min-width: 800px) {
  .skew {
    transform: skew(-1deg);
  }

  .unskew {
    transform: skew(1deg);
  }
}